.container {
  max-width: 960px;
  margin:0 auto;
}
@media(max-width: 960px) {
  .container {
    margin: 0 24px;
  }
}


// STICKY BOX
.sticky-box {
  position: relative;
  overflow: hidden;
  &.sticky-fix {
    > div {
      &.top {
        position: fixed;
      }
      &.bottom {
        position: absolute;
      }
    }
  }
}
