<footer class="app-footer">
  <div class="main-footer">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <a class="brand text-center" [routerLink]="['']"><img src="/assets/img/logo.png"></a>
        </div>
        <div class="column">
          <div class="widget-title">Makers Academy</div>
          <ul>
            <li><i class="fa fa-home"></i> Haagse Makers</li>
            <li><i class="fa fa-home"></i> Juliana van Stolberglaan</li>
            <li><a href="https://facebook.com/haagsemakers" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="https://twitter.com/haagsemakers" target="_blank">
              <i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="https://instagram.com/haagsemakers" target="_blank">
              <i class="fa fa-instagram"></i>Instagram</a></li>
          </ul>
        </div>
        <div class="column">
          <div class="widget-title">Support</div>
          <ul>
            <li><a [routerLink]="['faq']" routerLinkActive="active">FAQ</a></li>
            <li><a [routerLink]="['terms']" routerLinkActive="active">Terms &amp; Conditions</a></li>
            <li><a [routerLink]="['privacy']" routerLinkActive="active">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="column">
          <div class="widget-title">Social</div>
          <ul>
            <li><a href="https://facebook.com/haagsemakers" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://twitter.com/haagsemakers" target="_blank">
              <i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://instagram.com/haagsemakers" target="_blank">
              <i class="fa fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer">
    <div class="container is-fluid">
      &copy; 2014-2018 Haagse Makers
    </div>
  </div>
</footer>
