<section class="hero first-slide is-primary is-medium">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title is-size-1">Maak het! Met de Haagse Makers Academy</h1>
      <br>
      <h2 class="subtitle is-size-3">
        Voor vindingrijke mensen die nieuwe dingen willen leren.<br>
        Van programmeren tot lassen, van business model tot fotografie. Er is geen reden meer om niet te maken waar je van droomt.
      </h2>
    </div>
  </div>
</section>

<section class="hero second-slide">
  <ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title">Arduino Basis</div>
        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title">The Things Network Connect Basis (IoT)</div>
        <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--record"></div>
      <div class="card__content">
        <div class="card__title">Jouw workshop hier?</div>
        <p class="card__text">Kun jij een workshop geven voor vindingrijk Den Haag? Meld je aan!</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
</ul>
</section>
