<section class="hero first-slide is-primary is-medium">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title is-size-1-desktop">Maak het! Met de Haagse Makers Academy</h1>
      <br>
      <h2 class="subtitle is-size-3-desktop">
        Voor vindingrijke mensen die nieuwe dingen willen leren.<br>
        Van programmeren tot lassen, van business model tot fotografie. Er is geen reden meer om niet te maken waar je van droomt.
      </h2>
    </div>
  </div>
</section>

<section class="second-slide">
  <div class="container">
    <ul class="cards">
      <li class="cards__item" *ngFor="let course of courses">
        <div class="card">
          <a [routerLink]="['/course', course.slug]">
            <div class="card__image" [ngStyle]="{'background-image': 'url(assets/img/' + course.featured_img + ')' }">
              <div class="categories">
                <span class="category tag is-white" *ngFor="let category of course.categories">{{ category }}</span>
              </div>
            </div>
            <div class="card__content">
              <h3 class="title is-3 course-title">{{ course.title }}</h3>
              <p class="course-abstract">{{ course.abstract }}</p>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
